% !TEX program = lualatex
\documentclass{resume} % Use the custom resume.cls style

\usepackage[left=0.4 in,top=0.4in,right=0.4 in,bottom=0.4in]{geometry} % Document margins
\newcommand{\tab}[1]{\hspace{.2667\textwidth}\rlap{#1}}
\newcommand{\itab}[1]{\hspace{0em}\rlap{#1}}

%----------------------------------------------------------------------------------------
% Contact Information
%----------------------------------------------------------------------------------------

\name{<% name %>}
\address{<% contact.location %> \\
    \href{tel:<% contact.phone_clean %>}{<% contact.phone %>} \\
    \href{mailto:<% contact.email %>}{<% contact.email %>} \\
    \href{https://<% contact.website %>}{<% contact.website %>} \\
    \href{https://<% contact.github %>}{<% contact.github %>} \\
    \href{https://<% contact.linkedin %>}{<% contact.linkedin %>}
}

\begin{document}

%----------------------------------------------------------------------------------------
% Professional Summary
%----------------------------------------------------------------------------------------

<%#summary%>

% \begin{rSection}{Professional Summary}
  <%.%>
% \end{rSection}

<%/summary%>

%----------------------------------------------------------------------------------------
% Work Experience
%----------------------------------------------------------------------------------------
<%#experience.length%>
  \begin{rSection}{Work Experience}

    <%#experience%>
      \begin{rWorkHistoryItem}{<% position %>}{<% company %>}{<% duration %>}
        <%#accomplishments%>
          \item <%.%>
        <%/accomplishments %>
      \end{rWorkHistoryItem}
    <%/experience%>

  \end{rSection}
<%/experience.length%>

%----------------------------------------------------------------------------------------
% Skills
%----------------------------------------------------------------------------------------

<%#skills.length%>
  \begin{rSection}{Skills}
    <%#skills%>
      \textbf{<%category%>:} <% items %> \\[0.5em]
    <%/skills%>
  \end{rSection}
<%/skills.length%>


%----------------------------------------------------------------------------------------
% Education
%----------------------------------------------------------------------------------------

<%#education.length%>
  \begin{rSection}{Education}

    <%#education%>
      \begin{rEducationItem}{<% degree %>}{<% institution %>}{<% duration %>}
        <%#accomplishments%>
          \item <%.%>
        <%/accomplishments %>
      \end{rEducationItem}
    <%/education%>

  \end{rSection}
<%/education.length%>

%----------------------------------------------------------------------------------------
% Projects
%----------------------------------------------------------------------------------------

<%#projects.length%>
  \begin{rSection}{Projects}

    <%#projects%>
      \begin{rWorkHistoryItem}{<% role %>}{<% name %>}{<% duration %>}
        <%#accomplishments%>
          \item <%.%>
        <%/accomplishments %>
      \end{rWorkHistoryItem}
    <%/projects%>

  \end{rSection}
<%/projects.length%>

%----------------------------------------------------------------------------------------
% Awards
%----------------------------------------------------------------------------------------

<%#awards.length%>
  \begin{rSection}{Awards}

    <%#awards%>
      \begin{rAwardItem}{<% title %>}{<% description %>}{<% duration %>}
      \end{rAwardItem}
    <%/awards%>

  \end{rSection}
<%/awards.length%>

\end{document}
